.tag-overlay {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(128, 139, 210);
    background-color: rgba(128, 139, 210, 0.5);
    display: flex-wrap;
    padding: 5px;

}

.badge-primary {
    background-color: #2780E3;
    margin: 5px;

}

.badge-primary-close {
    background-color: tomato;
    border: transparent;
    font-size: 1rem;
    margin-right: 1rem;

}


.tag-container {
    max-width: 190px;
    display: inline-block;
    margin: 5px;
}

.del-tag{
    background-color: cornflowerblue;
    border: transparent;
    font-size: 1rem;
    color: black;
    text-decoration: none!important;
    padding-left: 3px;
    padding-right: 3px;
}


.tag-click {
    background-color: cornflowerblue;
    color: white;
    border: transparent;
    font-size: 1rem;
    text-decoration: none!important;
    padding-left: 3px;
    padding-right: 3px;
}


.tag-close {
    background-color: tomato;
    color: white;
    border: transparent;
    font-size: 1rem;
    text-decoration: none!important;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 10px;
}

.tag-new {
    background-color: lightgreen;
    color: white;
    border: transparent;
    font-size: 1rem;
    text-decoration: none!important;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
}


.add-overlay {
    position: absolute;
    padding-left: 25px;
    padding-right: 25px;
    background-color: blue;
    z-index: 10;
    background: rgb(128, 139, 210);
    background-color: rgba(128, 139, 210, 0.7);
}

.add-tag-input{
    width: 300px;
    height: 60px;
    text-align: center;
    font-size: 3rem;
    border: transparent;
    text-decoration: none!important;
}

.nah-tag-button {
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    text-decoration: none!important;
    border: transparent;
}

.add-tag-button {
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    text-decoration: none!important;
    border: transparent;
}

.add-tag-span {
    visibility: hidden;
}