.container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  max-width: 100%;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.not-found {
  margin: auto;
  margin-top: 20px;
  width: 800px;
  height: 200px;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  opacity: 0.5;
}

/**/

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  max-width: 900px;
  break-inside: avoid;

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;

}

/* ---- grid-item ---- */

.grid-item {
  width: 200px;
  height: auto;
  float: left;
  margin: 10px;
  break-inside: avoid;
}

.gridbox {
  border-radius: 5px;
}



